VITE_FIREBASE_API_KEY=AIzaSyAT_jvKCjjmyF7tcuxQeYS-CFjoOIF8jlM
VITE_FIREBASE_AUTH_DOMAIN=splitflow-e39c0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=splitflow-e39c0
VITE_FIREBASE_STORAGE_BUCKET=splitflow-e39c0.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=816128125030
VITE_FIREBASE_APP_ID=1:816128125030:web:5224f2d21d61aac6a065a7
